.flipper {
  width: 370px;
  height: 165px;
  padding: 26px 0 0 97px;
  background-size: 370px;
  background-repeat: no-repeat;
  background-position: center;

  &.body-black {
    background-image: url(assets/flipper_black.svg);
  }
  &.body-transparent {
    background-image: url(assets/flipper_transparent.svg);
  }
  &.body-white {
    background-image: url(assets/flipper_white.svg);
  }

  &__image {
    image-rendering: pixelated;
    position: absolute;
    top: 25px;
    left: 96px;
  }
}
